<div class="container">
    <div class="title">
        <h2>Blog</h2>
        <p>Here is the place where you can read some interesting things about gifts!</p>
    </div>
    <div class="articles-container">
        <div class="article">
            <div class="image">
                <img src="image1.jpg" alt="Why miniature gifts are the best?">
            </div>
            <div class="content">
                <p class="title">Why miniature gifts are the best?</p>
                <p class="description">
                    Miniatures are small-sized engravings, paintings, and sculptures. They are artworks that fit in the
                    palm of your hand...
                </p>
                <div class="btn">
                    <button><a routerLink="/articles/:id/details">Read More</a></button>
                </div>
            </div>
        </div>
        <!-- Add more articles here -->
    </div>


</div>