<footer>
    <div class="footer">
        <div class="row">
            <a routerLink="/about"><i class="fa fa-facebook"></i></a>
            <a routerLink="/about"><i class="fa fa-instagram"></i></a>
            <a hrouterLink="/about"><i class="fa fa-youtube"></i></a>
            <a routerLink="/about"><i class="fa fa-twitter"></i></a>
        </div>

        <div class="row">
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/about">About us</a></li>                
                <li><a routerLink="/privacy-policy">Privacy Policy, Terms & Conditions</a></li>
                               
            </ul>
        </div>        

        <div class="row">
         © 2024 HandMade with Love - All rights reserved || contact&#64;handmade.com;
        </div>
    </div>
</footer>