<div class="container">
    <div class="createGift">
        <div class="create-title">
            <h2 class="title">Edit</h2>
            <p>Edit gift post!</p>
        </div>
        <div class="create-form">
            <form [formGroup]="form" (ngSubmit)="edit()">
                <label for="title">Title: </label>
                <input [class]="titleControl?.touched && (titleControl?.errors?.['required'] || (titleControl?.errors?.['minlength'])) ? 'invalid' : ''" type="text" id="title" name="title" formControlName="title" >

                @if(titleControl?.touched){
                    <div>
                        @if(titleControl?.errors?.['required']){
                            <p class="errorMsg">Title is required</p> 
                        }

                        @if(titleControl?.errors?.['minlength']){
                            <p class="errorMsg">Title must be at least 2 characters </p> 
                        }
                    </div>
                }

                <label for="price">Price:</label>
                <input [class]="priceControl?.touched && (priceControl?.errors?.['required'] || (priceControl?.errors?.['min'])) ? 'invalid' : ''"
                type="number" id="price"  name="price" formControlName="price">

                
                @if(priceControl?.touched){
                    <div>
                        @if(priceControl?.errors?.['required']){
                            <p class="errorMsg">Price is required</p> 
                        }

                        @if(priceControl?.errors?.['min']){
                            <p class="errorMsg">Price must be positive number</p> 
                        }
                    </div>
                }

                <label for="description">Description:</label>
                <input  [class]="descriptionControl?.touched && (descriptionControl?.errors?.['required'] || (descriptionControl?.errors?.['maxlength'])) ? 'invalid' : ''"
                 type="text" id="description" name="description"  formControlName="description">

                @if(descriptionControl?.touched){
                    <div>
                        @if(descriptionControl?.errors?.['required']){
                            <p class="errorMsg">Description is required</p> 
                        }

                        @if(descriptionControl?.errors?.['maxlength']){
                            <p class="errorMsg">Description must be maximum 100 characters </p> 
                        }
                    </div>
                }

                <label for="category">Category:</label>
                <select [class]="categoryControl?.touched && categoryControl?.errors?.['required'] ? 'invalid' : ''"
                 formControlName="category"  name="category" id="category">                  
                    <option value="Women">Women</option>
                    <option value="Men">Men</option>
                    <option value="Children">Children</option>
                </select>

                @if(categoryControl?.touched){
                    <div>
                        @if(categoryControl?.errors?.['required']){
                            <p class="errorMsg">Category is required</p> 
                        }
                    </div>
                }

                <label for="delivery">Delivery in days:</label>
                <input [class]="deliveryControl?.touched && (deliveryControl?.errors?.['required'] || (deliveryControl?.errors?.['min'])) ? 'invalid' : ''" 
                 type="number" id="delivery" name="delivery"  formControlName="delivery">

                @if(deliveryControl?.touched){
                    <div>
                        @if(deliveryControl?.errors?.['required']){
                            <p class="errorMsg">Delivery is required</p> 
                        }

                        @if(deliveryControl?.errors?.['min']){
                            <p class="errorMsg">Delivery must be positive number</p> 
                        }
                    </div>
                }

                <label for="imageUrl">Image URL:</label>
                <input  [class]="imageUrlControl?.touched && (imageUrlControl?.errors?.['required'] || (imageUrlControl?.errors?.['imageUrlValidator'])) ? 'invalid' : ''"  type="url" id="imageUrl" name="imageUrl" formControlName="imageUrl">

                @if(imageUrlControl?.touched){
                    <div>                      
                        @if(imageUrlControl?.errors?.['imageUrlValidator'] || imageUrlControl?.errors?.['required']){
                            <p class="errorMsg">Invalid URL address</p> 
                        }
                    </div>
                }

                <div class="btn-div">
                    <button [disabled]="form.invalid" class="create-btn">Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>
