<div class="about-container">
    <div class="about-content">
        <h2>Privacy policy</h2>
        <p>We process your personal information to run our business and provide our users with the Services. By
            accepting our Terms of Use (and in some jurisdictions, by acknowledging this policy), you confirm that you
            have read and understand this policy, including how and why we use your information. If you don’t want us to
            collect or process your personal information in the ways described in this policy, you shouldn’t use the
            Services. We are not responsible for the content or the privacy policies or practices of any of our members,
            websites hosted through Pattern by HandMade.Gifts, or third-party websites and apps.
            By using the Services, you acknowledge that HandMade.Gifts will use your information in the countries where
            HandMade.Gifts operates. Please be aware that the privacy laws and standards in certain countries, including
            the rights of authorities to access your personal information, may differ from those that apply in the
            country in which you reside. We will transfer personal information only to those countries to which we are
            permitted by law to transfer personal information as more fully described in the "Transfers" Section of this
            policy.</p>
        <h2>Terms and Conditions</h2>
        <p>You’ll need to create an account with Handmade Gifts to use some of our Services. Here are a few rules about
            accounts with Handmade Gifts:
            A. You must be 18 years or older to use our Services. Minors under 18 and at least 13 years of age are only
            permitted to use our Services through an account owned by a parent or legal guardian with their appropriate
            permission and under their direct supervision. Children under 13 years are not permitted to use Handmade
            Gifts or the Services. You are responsible for any and all account activity conducted by a minor on your
            account.
            B. Be honest and provide us with accurate information about yourself. It’s prohibited to use false
            information or impersonate another person or company through your account.
            C. Choose an appropriate name. If you decide to not have your full name serve as the name associated with
            your account, you may not use language that is offensive, vulgar, infringes someone’s intellectual property
            rights, or otherwise violates the Terms.
            D. You're responsible for your account. You’re solely responsible for any activity on your account. If
            you’re sharing an account with other people, then the person whose financial information is on the account
            will ultimately be responsible for all activity. If you’re registering as a business entity, you personally
            guarantee that you have the authority to agree to the Terms on behalf of the business. Also, your accounts
            are not transferable.
            E. Protect your password. As we mentioned above, you’re solely responsible for any activity on your account,
            so it’s important to keep your account password secure.
            F. Let's be clear about our relationship. These Terms don't create any agency, partnership, joint venture,
            employment, or franchisee relationship between you and Handmade Gifts.</p>
    </div>
</div>