/* Container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 34px;
    min-height: 80vh;
    background-color: #ffffff;
}

/* Create Gift Box */
.createGift {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    padding: 40px 30px;
    transition: transform 0.4s ease;
}

.createGift:hover {
    transform: translateY(-8px);
}

/* Title Section */
.create-title {
    text-align: center;
    margin-bottom: 30px;
}

.create-title .title {
    font-size: 28px;
    font-weight: 700;
    color: #333;
    background: linear-gradient(135deg,#360550, #bd6dcd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.create-title p {
    font-size: 16px;
    color: #666;
}

/* Form */
.create-form {
    width: 100%;
}

.create-form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.create-form label {
    font-size: 14x;
    font-weight: 500;
    color: #444;
   
}

.create-form input[type="text"],
.create-form input[type="number"],
.create-form input[type="url"],
.create-form select {
    width: 100%;
    padding: 12px 15px;
    border:2px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-size: 18px;
    transition: all 0.3s ease;
    color: #333;
    margin-top: -15px;
}

.create-form input::placeholder,
.create-form select {
    color: #aaa;
}

.create-form input:focus,
.create-form select:focus {
    border-color: #360550;
    background-color: #fff;
    outline: none;
    box-shadow: 0 5px 10px rgba(0, 85, 165, 0.1);
}

/* Button */
.btn-div {
    display: flex;
    justify-content: center;
}

.create-btn {
    width: 100%;
    padding: 14px;
    background: linear-gradient(135deg, #bd6dcd, #360550);
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.create-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    transition: all 0.5s;
}

.create-btn:hover::before {
    left: 100%;
}

.create-btn:hover {
    background: linear-gradient(135deg, #054c50, #6dc8cd, );
}

.create-btn:active {
    transform: scale(0.97);
}

.errorMsg {
    color: red;
}
.invalid{
    border-color: red!important;
}

/* Responsive Design */
@media (max-width: 500px) {
    .createGift {
        padding: 30px 20px;
    }

    .create-title .title {
        font-size: 22px;
    }

    .create-btn {
        font-size: 16px;
    }
}

