<div class="container">
    <div class="image">
        <img src="error.png" alt="">
    </div>

    <div class="gift-details">
        <h2>Title: </h2>
        <p><strong>Price: </strong>0 lv.</p>
        <p><strong>Category: </strong>Category here...</p>
        <p><strong>Delivery: </strong>5 days</p>
        <p><strong>Description: </strong>Description here...</p>

        <div class="action-btn">
            <button class="btn"><a routerLink="/gift/:id/edit">Edit</a></button>
            <button class="btn"><a routerLink="/gift/:id/delete">Delete</a></button>

            <button class="btn"><a routerLink="/gift/:id/like">Like gift</a></button>
            <p class="message">You have already added the gift to wishlist</p>

            <button class="btn"><a routerLink="/gift/:id/buy">Buy gift</a></button>
            <p class="message">You have already added the gift to shopping cart</p>

        </div>
    </div>

</div>