<div class="add-article">
    <div class="add-article-title">
        <p>Write a blog post and share it with others</p>
    </div>
    <form>
        <div class="new-article-title">
            <label for="title">New article title</label>
            <input type="text" name="title" id="text">
        </div>
        <div class="new article-content">
            <label for="content">Content</label>
            <input type="text" name="content" id="content">
        </div>
        <div class="btn">
            <button>Send</button>
        </div>
    </form>
</div>