<div class="container">
    <h2>Search</h2>
    <div class="search">
        <form>
            <div>
                <label for="name">Gift Title</label>
                <input type="text" name="title">
            </div>
            <div>
                <label for="category">Category</label>
                <select name="category" id="category">
                    <option value="---"></option>
                    <option value="Women">Women</option>
                    <option value="Men">Men</option>
                    <option value="Children">Children</option>
                </select>
            </div>
            <div class="btn">
                <button>Search</button>
            </div>

        </form>
    </div>
    <h4>Results</h4>
    <div class="result">
        <div class="product">
            <div class="product-img">
                <img src="" alt="Gift Image 1">
            </div>
            <div class="product-info">
                <h6 class="title"> </h6>
                <p class="price">$p>
            </div>
            <div class="btn">
                <button>
                    <a routerLink="/gifts/details/">Details</a>
                </button>
            </div>
        </div>

        <!--
        -->

        <div class="product">
            <div class="product-img">
                <img src="" alt="Gift Image 1">
            </div>
            <div class="product-info">
                <h6 class="title"> </h6>
                <p class="price">$p>
            </div>
            <div class="btn">
                <button>
                    <a routerLink="/gifts/details/">Details</a>
                </button>
            </div>
        </div>

        <!---->
        <div class="product">
            <div class="product-img">
                <img src="" alt="Gift Image 1">
            </div>
            <div class="product-info">
                <h6 class="title"> </h6>
                <p class="price">$p>
            </div>
            <div class="btn">
                <button>
                    <a routerLink="/gifts/details/">Details</a>
                </button>
            </div>
        </div>

    </div>
</div>