<div class="container">
    <h2>Welcome to our gift shop!</h2>
    <div class="image">
        <img src="home.jpg.webp" alt="">
    </div>

    <div class="mainText">

        <p>Browse our <a routerLink="/catalog">Catalog</a> to find a wide range of gifts for any type of occasion. Also
            you can <a routerLink="/login">Join</a> our team and make
            people happy with your handmade gifts </p>

    </div>

    <h4 class="gifts-title">New Arrivals</h4>
    <div class="gifts">

        @for (gift of gifts; track $index) {
        <div class="product">
            <div class="product-img">
                <img src="{{gift.imageUrl}}" alt="">
            </div>
            <div class="product-info">
                <h6 class="title">{{gift.title}}</h6>
                <span class="price">${{gift.price}}</span>
            </div>
            <div class="btn">
                <button>
                    <a routerLink="/gifts/details/{{gift._id}}">Details</a>
                </button>
            </div>
        </div>
        }        

    </div>
</div>